body,html
{
  margin,padding: 0;
}

body
{

}

.logoImg
{
  margin-left:15px;
  border-radius:50%;
  background-color:white;
  padding: 2px;
  width: 36px;
  height:auto;
  vertical-align: middle;
  margin-top: -8px;
}

.nav-wrapper
{
  background-color: rgb(95, 75, 139);
}

.collectorName
{
  font-size: 24px !important;
  opacity:0.9;
  margin-right: 15px;
}

.customContainer
{
  display: flex;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(95, 75, 139) !important;
  color:white;
  font-size:18px;
}

#pageContainer
{
  width:70%;
  margin-left: 15%;
}

.location
{
  text-decoration: underline;
  margin-left: 6px;
}
