body,html
{
  padding: 0;
  margin: 0;
}

::selection
{
  background-color: rgb(95, 75, 139);
  color: white;
}
::-moz-selection
{
  background-color: rgb(95, 75, 139);
  color: white;
}

/*  --------------------------------------------------  */

.logoImg
{
  margin-right:8px;
  border-radius:50%;
  background-color:white;
  padding: 2px;
  width: 36px;
  height:auto;
  vertical-align: middle;
  margin-top: -8px;
}

.nav-wrapper
{
  background-color: rgb(95, 75, 139);
}

.brand-logo
{
  display: inline-block !important;
}

.sidenav-trigger
{
  cursor: pointer;
  display: inline-block !important;
}

.fa-user-plus, .fa-cog
{
  cursor: pointer !important;
}

.fa-sign-in-alt
{
  cursor: pointer !important;
  margin-right:15px;
}

.fa-sign-out-alt
{
  cursor: pointer !important;
  margin-right:15px;
}

#restaurants
{
  position: absolute;
  bottom:60px;
  width:100%;
}

#navBarLogo
{
  position: absolute;
  top:0;
  margin-top:10px;
  width:100%;
  text-align: center;
  font-size:28px;
  color:rgb(95, 75, 139);
}

.sideItem
{
  font-size:16px;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 500;
}

.sideItem:hover
{
  background-color: rgb(95, 75, 139);
  color: white;
}

.sideItem:hover > .sideNavIcons
{
  color: white !important;
}

.sideNavIcons
{
  margin-right: 5px !important;
  color:rgb(95, 75, 139) !important;
}

.sideText
{
  color:rgb(95, 75, 139);
  margin-left:30px;
  font-size:18px;
  font-weight: 500;
}

.fa-user
{
  margin-right:5px;
}

.fa-recycle
{
  margin-right: 5px;
}

#sideName
{
  margin-top: 60px;
}

#sideKg
{
  margin-bottom:10px;
}

/*  --------------------------------------------------  */

#firstPageContainer
{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:rgb(95, 75, 139);
  width:70%;
  text-align: center;
  font-size: 40px;
  margin-top:32px;
  margin-bottom:32px;
}

#firstPageInfo
{
  font-size:22px;
  margin-top:20px;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after
{
  border: 2px solid rgb(95, 75, 139) !important;
  background-color: rgb(95, 75, 139) !important;
}

/*  --------------------------------------------------  */

#pageContainer
{
  margin-top:32px;
  width: 80%;
  margin-left: 10%;
}

#motivationalContainer
{
  color: rgb(95, 75, 139);
  font-size: 28px;
  text-align: center;
}

.leftTitle
{
  color: rgb(95, 75, 139);
  font-size: 28px;
}

.customContainer
{
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(95, 75, 139) !important;
  color:white;
  font-size:18px;
}

/*  --------------------------------------------------  */
