body,html
{
  padding: 0;
  margin: 0;
}

.logoImg
{
  margin-right:8px;
  border-radius:50%;
  background-color:white;
  padding: 2px;
  width: 36px;
  height:auto;
  vertical-align: middle;
  margin-top: -8px;
}

.nav-wrapper
{
  background-color: rgb(95, 75, 139);
}

.brand-logo
{
  display: inline-block !important;
}

.sidenav-trigger
{
  cursor: pointer;
  display: inline-block !important;
}

.fa-cog
{
  display: none;
  cursor: pointer !important;
}

.fa-user-plus
{
  cursor: pointer !important;
}

.fa-sign-in-alt
{
  cursor: pointer !important;
  margin-right:15px;
}

#restaurants
{
  position: absolute;
  bottom:60px;
  width:100%;
}

#navBarLogo
{
  position: absolute;
  top:0;
  margin-top:10px;
  width:100%;
  text-align: center;
  font-size:28px;
  color:rgb(95, 75, 139);
}

.sideItem
{
  font-size:16px;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 500;
}

.sideItem:hover
{
  background-color: rgb(95, 75, 139);
  color: white;
}

.sideItem:hover > .sideNavIcons
{
  color: white !important;
}

.sideNavIcons
{
  margin-right: 5px !important;
  color:rgb(95, 75, 139) !important;
}

.sideText
{
  color:rgb(95, 75, 139);
  margin-left:30px;
  font-size:18px;
  font-weight: 500;
}

.fa-user
{
  margin-right:5px;
}

.fa-recycle
{
  margin-right: 5px;
}

#sideName
{
  margin-top: 60px;
}

#sideKg
{
  margin-bottom:10px;
}
