body,html
{
  padding: 0;
  margin: 0;
}

.nav-wrapper
{
  background-color: rgb(95, 75, 139);
}

.brand-logo
{
  display: inline-block !important;
}

.sidenav-trigger
{
  cursor: pointer;
  display: inline-block !important;
}

.fa-cog
{
  display: none;
  cursor: pointer !important;
}

.fa-user-plus
{
  cursor: pointer !important;
}

.fa-sign-in-alt
{
  cursor: pointer !important;
  margin-right:15px;
}

#restaurants
{
  position: absolute;
  bottom:60px;
  width:100%;
}

#navBarLogo
{
  position: absolute;
  top:0;
  margin-top:10px;
  width:100%;
  text-align: center;
  font-size:28px;
  color:rgb(95, 75, 139);
}

.sideNavIcons
{
  margin-right: 0 !important;
  color:rgb(95, 75, 139) !important;
}

@media only screen and (max-width: 601px)
{
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i
  {
    line-height: 56px !important;
  }
}
